body {
    background-color: white;
    color: black;
}
p {
    margin-left: 50px;
    font-size: 16px;
}
h1 {
    color: #00FF00 !important;
}
h2{
    color: #00FF00 !important;
}
h3 {
    color: #00FF00 !important;
}
.a {
    color: black;
    margin-left: 20px;
}
.t {
    color: black;
    margin-left: 20px;
}
.l {
    color: black;
    margin-left: 20px;
}
.nav-bar {
    background-color: #ADFF2F;
}
.lyrics-input {
    color: black;
    width: 160px;
    height: 35px;
    border-radius: 3px;
    border-color: black;
    margin-top: 15px;
}
.lyrics-button {
    color: black;
    border-color: black;
    border-radius: 3px;
    margin-top: 5px;

}
.button {
    color: black;
    border-color: black;
    border-radius: 3px;
}
.dark-mode-button {
    margin-left: 325px;
    border-color: black;
    border-radius: 3px;
    background-color: black;
    color: white;
    margin-top: 13px;
    margin-bottom: 13px;

}
.dark-mode-button-2 {
    margin-left: 5px;
    border-color: white;
    border-radius: 3px;
    background-color: white;
    color: dimgray;
}
.artist-input {
    margin-top: 15px;
    margin-left: ;
    margin-bottom: 20px;
    width: ;
    height: 35px;
    color: black;
    border-color: black;
    border-radius: 3px;
    font-family: system-ui;
    padding: 0px 0.125rem 0px 0.5rem;
}
.title-input {
    margin-bottom: 20px;
    height: 35px;
    color: black;
    border-color: black;
    border-radius: 3px;
    font-family: system-ui;
    padding: 0px 0.125rem 0px 0.5rem;
}
.logo {
    width: 145px;
    margin-left: 405px;
    margin-bottom: -50px;
    margin-top: -50px;
}
span:hover {
    color: black;
}
::placeholder {
    color: black;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
.sing-in {
    color: black;
    margin-left: 20px;
    margin-right: 10px;
    font-size: 12.5px;
}
.sing-up {
    color: black;
    font-size: 12.5px;
}
.keyword-part {
    margin-left: 10px;
    margin-bottom: 1328px;
}
.elements {
    margin-bottom: 1300px;
}
#first-part {
    background-color: #888888;
}
#third-part {
    background-color: #808080;
}